@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="display-4">Barış Tok Kütüphane Projesi</h1>
    <p>asp.net core mvc ile yaptığım ilk proje bu projede basit olarak kullanıcı giriş kayıt alma veri tabanı bağlantısı rol atamaları
        bulunmaktadır. Normal kayıt olan kişiler sadece bir kaç sayfayı görmektedir ancak admin rolüne sahip kişi kitap ekleme silme güncelleme 
        kiralama kitap türü ekleme silme güncelleme vb özellikler sunmaktadır. Detaylar source kodunda mevcuttur.</p>
</div>